@import "current-theme";

* {
  background-color: @background;
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'IosevkaTermSlabNerdFont';
  font-weight: 500;
  font-size: 17px;
}

.modules-left,
.modules-center,
.modules-right {
    border-radius: 0;
    border: none;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 4px;
  min-width: 9px;
}


#workspaces button.empty label { 
  opacity: 0.6;
}

#battery {
  margin: 0px 15px;
}

#backlight {
  margin: 0px 8px;
}

#pulseaudio {
  margin: 0px 15px;
}

#bluetooth {
  margin: 0px 0px;
}

#network {
  margin: 0px 20px;
}

#tray {
  margin: 0px 10px;
}

#tray-expander{
  margin: 0px 0px;
}
